.navbar li {
    display: inline-block;
    text-align: center;
  }
  #instructions{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    padding-left: 8%;

  }
  .itemCenter {
      font-family: 'Rhodium Libre', serif;
      margin-left: 42%;
      font-size: 35px;
  }
  
  .itemRight {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    float: right;
    padding-right: 10%;
  }

  .navbar {
    background-repeat: no-repeat;
    height: 200px;
    background-color: transparent; 
    border: none;
    width: 100%;
  }
  
  li {
    color: black;
    padding: 15px 0;
  }

  body {
    font-size: 24px;
  }